.products{
    margin: 20px auto;
    width:80%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: antiquewhite;
    border-radius: 5px;
}

.card{
    width:300px;
    height:400px;
    border:1px solid rgb(255, 255, 255);
    border-radius:5px;
    overflow:hidden;
    padding: 10px;
    margin:40px 20px;
    background-color:rgb(245, 160, 160);
}

.product-image{
    width:100%;
    max-width: 300px;
    min-height: 200px;
    display:block;
    object-fit:cover;
}

.product-name{
    text-transform: uppercase;
    margin: 10px 0px;
}
.product-price{
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 300px;
}

.product-add-button{
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border:none;
    outline:none;
    background-color:black;
    color:white;
    width:100%;
    display:block;
    cursor:pointer;
    text-transform: uppercase;
    margin: 15px auto;
}

.product-add-button:hover{
    background-color: rgb(27, 26, 24);
}

.product-add-button:active{
    transform: translateY(2px);
}